*{padding: 0;
margin: 0;}

header{
    background-color: rgba(255, 166, 0, 0.957);
}

.img-fluid{
    width: 450px;
}

.cinza{
    background-color: rgb(238, 238, 238);
    padding: 20px;
}